/* Estilos por defecto */
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins",sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*---------- Header ----------*/
/* header nav button */
.header {
    container-type: inline-size;
    container-name: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 0;
    position: relative;
    z-index: 10;
    background-color: #2C2E43;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 3px;
}

.header__checkbox {
    display: none;
}

.open__nav-button {
    font-size: 2rem;
    font-weight: 700;
    position: absolute;
    left: 10px;
}

.header__checkbox:checked ~ .header__nav-menu {
    display: flex;
}

/* header nav naevgacion */
.header__nav-menu {
    display: none;
    background-color: #2C2E43;
    color: white;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: -1;
}

.header__nav-list {
    display: flex;
    flex-direction: column;
    height: 30vh;
    margin: auto;
    justify-content: space-evenly;
}

.header__nav-item {
    list-style: none;
}

.header__nav-item a {
    text-decoration: none;
    color: inherit;
}

.header__nav-item a:is(:hover,:active) {
    text-decoration: underline;
}

/* Logo */
.header__logo-container {
    margin: auto;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.header__logo-container svg{
    width: 50px;
    height: 40px;
}

.header__logo-container span {
    /* font-family: 'AmstelvarAlpha',sans-serif; */
    font-size: 48px;
    letter-spacing: 5px;
    display: none;
}

.header-logo {
    max-width: 100%;
}

@container header (min-width:600px) {
    
    .header__logo-container {
        margin: 0 0 0 3rem;
    }

    .header__logo-container svg{
        width: 70px;
        height: 88px;
    }

    .header__nav-menu {
        display: block;
        position: static;
        height: auto;
        width: auto;
        justify-content: space-between;
        margin-right: 5rem ;
    } 

    .header__nav-list {
        flex-direction: row;
        height: auto;
        width: auto;
        gap: 2rem;
    }

    .open__nav-button {
        display: none;
    }
}

@container header (min-width:900px) { 
    .header__logo-container span {
        display: block;
    }
}

/*------------- end header -------------------*/

/* ---------------------main---------------- */


/* ---------------end main --------------------*/



/* ---------------Footer --------------------*/

.footer {
    container-type: inline-size;
    container-name: footer;
    background-color: #4d5d77;
    padding: 3rem;
}

.footer section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.footer-marca {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-marca span{
    font-size: 12px;
    width: 250px;
    text-wrap: pretty;

}

.footer__logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.footer__logo span {
    font-size: 36px;
    letter-spacing: 2px;
}

.footer__adress {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

.adress-item {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.item-icon {
    min-width: 45px;
    height: 45px;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
}

.item-icon i {
    vertical-align:text-bottom;
}

.item-adress h4, span {
    display: inline-block;
    text-wrap: pretty;
    color: white;
}

@container footer (min-width:600px) {
    .footer section {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .footer__adress {
        max-width: 700px;
    }
}

/* -------------end footer--------------------- */

/* -------whatsApp button */
.whatsAppButton {
    
    position: fixed;
    bottom: 20px;
    right: 20px;

}

@container main (min-width:600px) {

    .data__container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

}
/* -------------------------- */